venv/
venv_wsl/
venv_wsl_8/
__pycache__/
*.pyc
.env
.tcbs_token
tcbs_config.enc
npm-debug.log
.vercel/
*.txt
!requirements.txt
*.log
*.json
!vercel.json
!portfolio.json
!ors.json
!fpt_test.json
!scan_results.json
!ors_1y.json
!ors_dist_1y.json
.DS_Store
