#file: noinspection YAMLSchemaValidation
openapi: 3.1.0
info:
  title: iFlash Open API
  description:
    vi: >
      Chào mừng bạn đến với tài liệu kỹ thuật iFlash Open API. Nếu có bất kỳ câu hỏi nào, vui lòng liên hệ qua email.
      
      
      Ngôn ngữ: <button id="btn-vi" type="button">Tiếng Việt</button> <button id="btn-en" type="button">English</button>
    en: >
      Welcome to the iFlash Open API technical documentation. If you have any questions, please feel free to contact us via email.
      
      
      Language: <button id="btn-vi" type="button">Tiếng Việt</button> <button id="btn-en" type="button">English</button>
  version: 1.0.0
  contact:
    email: cskh@tcbs.com.vn
    url: 'https://developers.tcbs.com.vn'
  x-logo:
    url: '/image/logo.png'
    altText: Tcbs logo

servers:
  - url: 'https://openapi.tcbs.com.vn'
    description: Production
  - url: 'https://openapisit.tcbs.com.vn'
    description: SIT
paths:
  /gaia/v1/oauth2/openapi/token:
    post:
      security: []
      operationId: get_token
      tags:
        - authen
      summary:
        vi: 2.1.1. Trao đổi API Key để lấy JWT Token
        en: 2.1.1. Exchange API Key for JWT Token
      description: ''
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenResponseDto"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenResponseErrorDto"
  /akhlys/v1/accounts/{accountNo}/orders:
    post:
      operationId: order
      tags:
        - order_stock_normal
      summary:
        vi: 5.1.1. Đặt lệnh thường
        en: 5.1.1. Place order
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderExternalDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlaceOrderResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /akhlys/v1/accounts/{accountNo}/orders/{orderId}:
    put:
      operationId: update_order_stock_normal
      tags:
        - update_order_stock_normal
      summary:
        vi: 5.2.1. Sửa lệnh thường
        en: 5.2.1. Update order
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: orderId
          in: path
          description: orderId
          required: true
          schema:
            type: string
            example: "9202205230000324355"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateOrderResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /akhlys/v1/accounts/{accountNo}/cancel-orders:
    put:
      operationId: cancel_order
      tags:
        - cancel_order_stock_normal
      summary:
        vi: 5.3.1. Huỷ lệnh thường
        en: 5.3.1. Cancel order
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CancelOrderResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/orders:
    get:
      operationId: get_order
      tags:
        - get_order_stock_normal
      summary:
        vi: 5.4.1. Lấy sổ lệnh
        en: 5.4.1. Get order
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderSearchResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/orders/{orderID}:
    get:
      operationId: get_order_by_order_id
      tags:
        - get_order_stock_normal
      summary:
        vi: 5.4.2. Lấy sổ lệnh theo Order ID
        en: 5.4.2. Get order by Order ID
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: orderID
          in: path
          description: Order ID
          required: true
          schema:
            type: string
            example: "9202110200000060280"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderSearchResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/matching-details:
    get:
      operationId: get_command_match_information
      tags:
        - get_order_stock_normal
      summary:
        vi: 5.4.3. Lấy thông tin khớp lệnh
        en: 5.4.3. Get order matching information
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommandMatchInformationResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /ws/aither:
    get:
      operationId: get_command_match_information_wss
      tags:
        - get_order_stock_normal
      summary:
        vi: 5.4.4. Lấy thông tin khớp lệnh (realtime)
        en: 5.4.4. Get order matching information (realime)
      x-hideTryItPanel: false
      security:
        -
      description:
              vi: >
                File hướng dẫn kết nối: [Websocket_thay_doi_thong_tin_lenh_co_so_1.0.0.pdf](/file/Websocket_thay_doi_thong_tin_lenh_co_so_1.0.0.pdf)
              en: >
                File guide connection: [Websocket_order_information_normal_1.0.0.pdf](/file/Websocket_order_information_normal_1.0.0.pdf)
  /aion/v1/accounts/{accountNo}/ppse:
    get:
      operationId: get_purchasing_power
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.1. Lấy sức mua
        en: 5.5.1. Get purchasing power
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Response"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/ppse/{symbol}:
    get:
      operationId: get_purchasing_power_symbol
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.2. Lấy sức mua theo mã
        en: 5.5.2. Get purchasing power by symbol
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: symbol
          in: path
          description:
            vi: Mã chứng khoán
            en: Symbol stock
          required: true
          schema:
            type: string
            example: "FPT"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Response"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/ppse/{symbol}/{price}:
    get:
      operationId: get_purchasing_power_symbol_price
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.3. Lấy sức mua theo mã, giá
        en: 5.5.3. Get purchasing power by symbol, price
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: symbol
          in: path
          description:
            vi: Mã chứng khoán
            en: Symbol stock
          required: true
          schema:
            type: string
            example: "FPT"
        - name: price
          in: path
          description:
            vi: Giá tính sức mua
            en: Price purchasing power
          required: true
          schema:
            type: string
            example: "52000"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Response"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/customers/{custodyId}/accounts:
    get:
      operationId: customer_quota_margin
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.4. Hạn mức margin
        en: 5.5.4. Margin quota
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: custodyId
          in: path
          description:
            vi: Số tài khoản
            en: Custody code
          required: true
          schema:
            type: string
            example: "105C738764"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MarginQuotaResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /hydros/v1/account/{accountNo}/risk:
    get:
      operationId: margin_account_infor
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.5. Tổng nợ gốc, Tổng nợ lãi, Rtt thực tế, Tỷ lệ ký quỹ ban đầu, Tỷ lệ duy trì, Tỷ lệ cảnh báo
        en: 5.5.5. Total principal debt, total interest debt, actual Rtt, initial margin ratio, maintenance margin ratio, warning ratio
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tài khoản margin
            en: Account No margin
          required: true
          schema:
            type: string
            example: "0001G75216"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MarginAccountInforResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /campaign-management/v1/margin/subscription/{accountNo}/addons/detail:
    get:
      operationId: supplementary_loan_package
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.6. Gói vay bổ trợ
        en: 5.5.6. Supplementary Loan Package
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tài khoản margin
            en: Account No margin
          required: true
          schema:
            type: string
            example: "0001G75216"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SupplementaryLoanPackageResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /khaos/v1/loan/{accountNo}:
    get:
      operationId: loan_list
      tags:
        - purchasing_power_stock_normal
      summary:
        vi: 5.5.7. Danh sách khoản vay
        en: 5.5.7. Loan List
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tài khoản margin
            en: Account No margin
          required: true
          schema:
            type: string
            example: "0001G75216"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LoanResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/se:
    get:
      operationId: get_asset
      tags:
        - get_asset_stock_normal
      summary:
        vi: 5.6.1. Tra cứu tài sản cổ phiếu theo tiểu khoản
        en: 5.6.1. Get asset stock by sub account
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SeInfoDTO"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /aion/v1/accounts/{accountNo}/cashInvestments:
    get:
      operationId: get_cash_investment
      tags:
        - get_asset_stock_normal
      summary:
        vi: 5.6.2. Lấy thông tin số dư tiền
        en: 5.6.2. Get remain cash information
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: Số tiểu khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "0001170730"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CashInvestmentResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /erebos/v2/digital/trans-hist-cashStatements:
    get:
      operationId: trans_hist_cash_statements
      tags:
        - get_asset_stock_normal
      summary:
        vi: 5.6.3. Thông tin sao kê tiền
        en: 5.6.3. Get remain cash information
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountNo
          in: path
          description:
            vi: "Số tiểu khoản"
            en: "Account number"
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: fromDate
          in: path
          description:
            vi: "Từ ngày giao dịch"
            en: "From date"
          required: true
          schema:
            type: string
            example: "2025-01-01"
        - name: toDate
          in: path
          description:
            vi: "đến ngày giao dịch"
            en: "To date"
          required: true
          schema:
            type: string
            example: "2025-01-15"
        - name: pageSize
          in: path
          description:
            vi: "Page size"
            en: "Page size"
          required: true
          schema:
            type: string
            example: "25"
        - name: pageIndex
          in: path
          description:
            vi: "Page no"
            en: "Page no"
          required: true
          schema:
            type: string
            example: "1"
        - name: transactionCode
          in: path
          description:
            vi: "Loại giao dịch"
            en: "Transaction code"
          required: true
          schema:
            type: string
            example: "1153"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransHistCashStatementsResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /erebos/v2/digital/margin-info:
    get:
      operationId: margin_info
      tags:
        - get_asset_stock_normal
      summary:
        vi: 5.6.4. Tra cứu nợ
        en: 5.6.4. Margin info
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: acctno
          in: path
          description:
            vi: "Số tiểu khoản"
            en: "Account number"
          required: true
          schema:
            type: string
            example: "0001170730"
        - name: fromdate
          in: path
          description:
            vi: "Từ ngày"
            en: "From date"
          required: true
          schema:
            type: string
            example: "2025-01-01"
        - name: toDate
          in: path
          description:
            vi: "đến ngày"
            en: "To date"
          required: true
          schema:
            type: string
            example: "2025-01-15"
        - name: page
          in: path
          description:
            vi: "Page No"
            en: "Page No"
          required: true
          schema:
            type: string
            example: "1"
        - name: size
          in: path
          description:
            vi: "Page size"
            en: "Page size"
          required: true
          schema:
            type: string
            example: "25"
        - name: custodycd
          in: path
          description:
            vi: "Số tài khoản"
            en: "Custody code"
          required: true
          schema:
            type: string
            example: "105C209414"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MarginInfoResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /eros/v2/get-profile/by-username/{custodyCode}:
    get:
      operationId: get_sub_account_information
      tags:
        - account
      summary:
        vi: 3.1.1. Lấy thông tin tiểu khoản
        en: 3.1.1. Get sub account information
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: custodyCode
          in: path
          description:
            vi: Số tài khoản
            en: Account number
          required: true
          schema:
            type: string
            example: "105C334455"
        - name: fields
          in: query
          description:
            vi: Danh sách thông tin cần lấy
            en: List of information to get
          required: true
          schema:
            type: string
            example: "basicInfo,personalInfo,bankSubAccounts,bankAccounts"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountInformationResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /khronos/v1/account/status:
    get:
      operationId: total_cash_derivative
      tags:
        - total_cash_derivative
      summary:
        vi: 6.1.1. Tổng quan tiền, ký quỹ của phái sinh
        en: 6.1.1. Money derivative
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountId
          in: query
          description:
            vi: số tài khoản lưu kí
            en: Account number
          required: true
          schema:
            type: string
            example: "105C031402"
        - name: subAccountId
          in: query
          description:
            vi: Tiểu khoản phái sinh
            en: Sub account derivative
          required: true
          schema:
            type: string
            example: "105C031402A"
        - name: getType
          in: query
          description:
            vi: |
              - `0`: Lấy toàn bộ
              - `1`: Chỉ lấy tiền
            en: |
              - `0`: Get all
              - `1`: Only money
          required: true
          schema:
            type: string
            example: "1"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.Portfolio.AccountStatus"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description: "Chi tiết lỗi"
                  oID:
                    type: string
                    example: ""
                  data:
                    "$ref": "#/components/schemas/TotalCashDerivativeResponse"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /khronos/v1/account/portfolio/position/close:
    get:
      operationId: asset_position_close_derivative
      tags:
        - asset_derivative
      summary:
        vi: 6.2.1. Tài sản, vị thế đóng
        en: 6.2.1. Asset, position close
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountId
          in: query
          description:
            vi: số tài khoản lưu kí
            en: Account number
          required: true
          schema:
            type: string
            example: "105C031402"
        - name: subAccountId
          in: query
          description:
            vi: Tiểu khoản phái sinh
            en: Sub account derivative
          required: true
          schema:
            type: string
            example: "105C031402A"
        - name: symbol
          in: query
          description:
            vi: Mã chứng khoán
            en: Stock symbol
          required: false
          schema:
            type: string
            example: ""
        - name: pageNo
          in: query
          description:
            vi: Số trang
            en: Page number
          required: true
          schema:
            type: number
            example: "1"
        - name: pageSize
          in: query
          description:
            vi: Số dòng
            en: Page size
          required: true
          schema:
            type: number
            example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.Portfolio.PositionClose"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                  oID:
                    type: string
                    example: "Chi tiết lỗi"
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/AssetPositionCloseDerivativeResponse"
                    example:
                      [{
                        "symbol": "TOTAL",
                        "side": "",
                        "openPrice": 0,
                        "closePrice": 0,
                        "closePosition": 0,
                        "fee": 11400,
                        "tax": 15275,
                        "closeVM": 500000,
                        "unrealize": 500000,
                        "closePC": 0,
                        "time": ""
                      },
                        {
                          "symbol": "VN30F2103",
                          "side": "B",
                          "openPrice": 1175,
                          "closePrice": 0,
                          "closePosition": "0/1",
                          "fee": 5700,
                          "tax": 7637.5,
                          "closeVM": 0,
                          "unrealize": 500000,
                          "closePC": 0,
                          "time": ""
                        },
                        {
                          "symbol": "VN30F2103",
                          "side": "S",
                          "openPrice": 1180,
                          "closePrice": 1175,
                          "closePosition": "1/1",
                          "fee": 5700,
                          "tax": 7637.5,
                          "closeVM": 500000,
                          "unrealize": 0,
                          "closePC": 3.26,
                          "time": "11:56:24"
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /khronos/v1/account/portfolio/status:
    get:
      operationId: asset_position_open_derivative
      tags:
        - asset_derivative
      summary:
        vi: 6.2.2. Tài sản, vị thế mở
        en: 6.2.2. Asset, position open
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: accountId
          in: query
          description:
            vi: số tài khoản lưu kí
            en: Account number
          required: true
          schema:
            type: string
            example: "105C031402"
        - name: subAccountId
          in: query
          description:
            vi: Tiểu khoản phái sinh
            en: Sub account derivative
          required: true
          schema:
            type: string
            example: "105C031402A"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.Portfolio.PortfolioStatus2"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                  rs:
                    type: string
                    example:
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/AssetPositionOpenDerivativeResponse"
                    example:
                      [
                        {
                          "symbol": "VN30F2303",
                          "im": "13%",
                          "deliver": "4",
                          "receive": "11",
                          "net": 7,
                          "side": "L",
                          "account": "000111A",
                          "wasp": 1120,
                          "wapb": 1159.2,
                          "lastPrice": 1198.4,
                          "imValue": 109054400,
                          "vmValue": 70560000,
                          "mrValue": 109054400,
                          "duedate": "29/06/2021",
                          "netoffvol": 7,
                          "avg_remain": 1120,
                          "vm_remain": 54880000,
                          "pc_remain": "53.85",
                          "stoploss": "",
                          "takeprofit": ""
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/order/in-day:
    get:
      operationId: list_order_normal_derivative
      tags:
        - get_order_derivative
      summary:
        vi: 6.3.1. Tra cứu sổ lệnh thường
        en: 6.3.1. Get list of orders
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: pageNo
          in: query
          description:
            vi: Trang số
            en: Pgae number
          required: true
          schema:
            type: number
            example: "1"
        - name: pageSize
          in: query
          description:
            vi: Số phần tử trong trang
            en: Page Size
          required: true
          schema:
            type: number
            example: "20"
        - name: accountId
          in: query
          description:
            vi: số tài khoản lưu kí
            en: Account number
          required: true
          schema:
            type: string
            example: "105C031402"
        - name: symbol
          in: query
          description:
            vi: |
              filter theo mã hợp đồng và theo vị thế:
              - `ALL,ALL`: Lọc ALL
              - `VN30F2303,B`: Lọc theo mã
              - `ALL,B`: Lọc theo L/S
            en: |
              filter by contract code and by position:
              - `ALL,ALL`: Filter ALL
              - `VN30F2303,B`: Filter by symbol code
              - `ALL,B`: Filter by L/S
          required: true
          schema:
            type: string
            example: "ALL,ALL"
        - name: refId
          in: query
          description:
            vi: Ref id của lệnh
            en: RefId of order place
          required: false
          schema:
            type: string
            example: "H.7387641765855363489"
        - name: orderType
          in: query
          description:
            vi: |
              filter theo Loại lệnh:
              - ``: Tất cả
              - `3`: Arbitrage
              - `4`: SL/TP
              - `5`: ForceClose
              - `6`: Thường
            en: |
              filter by Order Type:
              - ``: All
              - `3`: Arbitrage
              - `4`: SL/TP
              - `5`: ForceClose
              - `6`: Normal
          required: true
          schema:
            type: string
            example: ""
        - name: status
          in: query
          description:
            vi: |
              filter theo trạng thái:
              - `0`: Tất cả
              - `1`: Chờ khớp
              - `2`: Đã khớp
            en: |
              filter by status:
              - `0`: All
              - `1`: Waiting for match
              - `2`: Matched
          required: true
          schema:
            type: string
            example: "0"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: Web.Order.IndayOrder
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Detail error"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ListOrderNormalDerivativeResponse"
                    example:
                      [
                        {
                          "orderNo": "37",
                          "pk_orderNo": "7625908",
                          "refId": "H.7387641765855363489",
                          "orderTime": "13:34:47",
                          "accountCode": "000112A",
                          "side": "S",
                          "symbol": "VN30F2303",
                          "volume": "1",
                          "showPrice": "MTL (1198)",
                          "matchVolume": "1",
                          "status": "PM",
                          "orderStatus": "4",
                          "channel": "I",
                          "group": "FU",
                          "cancelTime": "",
                          "isCancel": "0",
                          "isAmend": "0",
                          "info": "",
                          "maxPrice": "0",
                          "matchValue": "119800",
                          "quote": "Y",
                          "autoType": "",
                          "product": "",
                          "orderType": "N",
                          "source": "SYS"
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/order/condition/detail:
    get:
      operationId: list_order_condition_derivative
      tags:
        - get_order_derivative
      summary:
        vi: 6.3.2. Tra cứu sổ lệnh điều kiện
        en: 6.3.2. Get list of conditional orders
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: pageNo
          in: query
          description:
            vi: Trang số
            en: Page number
          required: true
          schema:
            type: string
            example: "1"
        - name: PageSize
          in: query
          description:
            vi: Số phần tử trong trang
            en: Page size
          required: true
          schema:
            type: string
            example: "25"
        - name: accountId
          in: query
          description:
            vi: số tài khoản lưu kí
            en: Account number
          required: true
          schema:
            type: string
            example: "105C031402"
        - name: subAccountID
          in: query
          description:
            vi: Số tài khoản phái sinh
            en: Derivative account number
          required: true
          schema:
            type: string
            example: "105C031402A"
        - name: orderStatus
          in: query
          description:
            vi: |
              filter theo trạng thái:
              - `0`: Tất cả
              - `1`: Chờ kích hoạt
              - `2`: Đã kích hoạt
              - `3`: Từ chối
            en: |
              filter by status:
              - `0`: All
              - `1`: Waiting for activation
              - `2`: Activated
              - `3`: Rejected
          required: true
          schema:
            type: string
            example: "0"
        - name: orderType
          in: query
          description:
            vi: |
              filter theo loại lệnh:
              - ``: Tất cả
              - `3`: Arbitrage
              - `4`: SL/TP
              - `5`: stopOrder
            en: |
              filter by order type:
              - ``: All
              - `3`: Arbitrage
              - `4`: SL/TP
              - `5`: stopOrder
          required: true
          schema:
            type: string
            example: "ALL,ALL"
        - name: Symbol
          in: query
          description:
            vi: |
              filter theo mã HĐTL và theo vị thế:
              - `ALL,ALL`: Lọc ALL
              - `VN30F2303,B`: Lọc theo mã
              - `ALL,B`: Lọc theo L/S
            en: |
              filter by contract code and by position:
              - `ALL,ALL`: Filter ALL
              - `VN30F2303,B`: Filter by symbol code
              - `ALL,B`: Filter by L/S
          required: true
          schema:
            type: string
            example: ""
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.Order.ConditionOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Error detail"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ListOrderConditionDerivativeResponse"
                    example:
                      [
                        {
                          "orderNo": "1",
                          "groupOrder": "463502",
                          "pk_orderNo": "463504",
                          "accountCode": "000112A",
                          "side": "B",
                          "symbol": "VN30F2303",
                          "showPrice": "1190.5",
                          "volume": "2",
                          "condition": "",
                          "result": "0",
                          "active_time": "",
                          "send_time": "14:01:01",
                          "cancel_time": "",
                          "group": "FU",
                          "channel": "I",
                          "maxPrice": "",
                          "soPrice": "1190.5",
                          "orderType": "SL",
                          "from_time": "29/04/2021",
                          "exp_time": "29/04/2021",
                          "status": "0",
                          "details": "",
                          "notes": "SL/TP"
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /ws/nesoi:
    get:
      operationId: get_command_match_information_derivative_wss
      tags:
        - get_order_derivative
      summary:
        vi: 6.3.3. Lấy thông tin khớp lệnh (realtime)
        en: 6.3.3. Get order matching information (realime)
      x-hideTryItPanel: false
      security:
        -
      description:
        vi: >
          File hướng dẫn kết nối: [Websocket_thay_doi_thong_tin_lenh_phai_sinh_1.0.0.pdf](/file/Websocket_thay_doi_thong_tin_lenh_phai_sinh_1.0.0.pdf)
        en: >
          File guide connection: [Websocket_order_information_derivative_1.0.0.pdf](/file/Websocket_order_information_derivative_1.0.0.pdf)
  /khronos/v1/order/place:
    post:
      operationId: order_normal_derivative
      tags:
        - order_derivative
      summary:
        vi: 6.4.1. Đặt lệnh thường
        en: 6.4.1. Place order
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderNormalDerivativeRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.newOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Error detail"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/OrderNormalDerivativeResponse"
                    example:
                      [
                        {
                          "symbol": "VN30F2104",
                          "shareStatus": "",
                          "status": "P",
                          "msg_type": "1I",
                          "showPrice": "1198.7",
                          "orderTime": "15:52:48",
                          "type": "I",
                          "accountCode": "170929A",
                          "orderNo": "17",
                          "market": "",
                          "matchVolume": "0",
                          "side": "B",
                          "volume": "1",
                          "pk_orderNo": "7625320",
                          "channel": "I",
                          "refID": "17",
                          "group": "FU",
                          "accType": "C",
                          "quote": "G",
                          "autoType": ""
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/order/condition/place:
    post:
      operationId: order_condition_derivative
      tags:
        - order_derivative
      summary:
        vi: 6.4.2. Đặt lệnh điều kiện
        en: 6.4.2. Conditional order
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderConditionDerivativeRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.newOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Chi tiết lỗi"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/OrderConditionDerivativeResponseDTO"
                    example:
                      [
                        {
                          "symbol": "VN30F2110",
                          "shareStatus": "",
                          "status": "P",
                          "msg_type": "1I",
                          "showPrice": "1504.4",
                          "orderTime": "20:16:57",
                          "type": "I",
                          "accountCode": "100159A",
                          "orderNo": 1,
                          "market": "",
                          "matchVolume": 0,
                          "side": "B",
                          "volume": "1",
                          "pk_orderNo": "7843961",
                          "channel": "D",
                          "refID": "1",
                          "group": "FU",
                          "accType": "C",
                          "quote": "G",
                          "autoType": "",
                          "product": ""
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/order/change:
    post:
      operationId: edit_order_normal_derivative
      tags:
        - edit_order_derivative
      summary:
        vi: 6.5.1. Sửa lệnh thường
        en: 6.5.1. Edit normal order
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditOrderNormalDerivativeRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.changeOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Chi tiết lỗi"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EditOrderNormalDerivativeResponseDTO"
                    example:
                      [
                        {
                          "orderNo": 9,
                          "msg_type": "1P",
                          "status": "PC",
                          "showPrice": "1290.0",
                          "volume": "4",
                          "pk_orderNo": 20029858
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v2/order/condition/change:
    post:
      operationId: edit_order_condition_derivative
      tags:
        - edit_order_derivative
      summary:
        vi: 6.5.2. Sửa lệnh điều kiện
        en: 6.5.2. Edit condition order
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditOrderConditionDerivativeRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.Order.ChangeConditionOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Error detail"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EditOrderConditionDerivativeResponseDTO"
                    example:
                      [
                        {
                          "showPrice": "1453.9",
                          "price": "1362.2",
                          "volume": "1",
                          "pkOrderNo": "901943",
                          "notes": "Stop order"
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/order/cancel:
    post:
      operationId: cancel_order_normal_derivative
      tags:
        - cancel_order_derivative
      summary:
        vi: 6.6.1. Huỷ lệnh thường
        en: 6.6.1. Cancel normal order
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderNormalDerivativeRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.changeOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Error detail"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CancelOrderNormalDerivativeResponseDTO"
                    example:
                      [
                        {
                          "orderNo": 1,
                          "msg_type": "1C",
                          "status": "PW",
                          "pk_orderNo": 7625368,
                          "cancelTime": "16:20:15"
                        }
                      ]
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/order/condition/cancel:
    post:
      operationId: cancel_order_condition_derivative
      tags:
        - cancel_order_derivative
      summary:
        vi: 6.6.2. Huỷ lệnh điều kiện
        en: 6.6.2. Cancel condition order
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderConditionDerivativeRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: "Web.cancelActivatedOrder"
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description:
                      vi: "1: success, < 0: error"
                      en: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description:
                      vi: "Chi tiết lỗi"
                      en: "Error detail"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CancelOrderConditionDerivativeResponseDTO"
                    example:
                      [
                      ]
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /physis/v1/stock/transfer:
    post:
      operationId: transfer_between_subaccount
      tags:
        - money
      summary:
        vi: 4.1.1. Chuyển tiền nội bộ
        en: 4.1.1. Transfer money internally
      x-hideTryItPanel: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferBetweenSubaccountRequestDTO'
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "200"
                    description: "Code trả về, 200 là thành công, khác 200 là lỗi"
                  message:
                    type: string
                    example: "OK"
                    description:
                      vi: "Nội dung trả về"
                      en: "Content return"
                example:
                  {
                    "code": "200",
                    "message": "OK"
                  }

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/cash/withdraw/update:
    post:
      operationId: withdrawal_derivative
      tags:
        - money
      summary:
        vi: 4.2.1. Rút ký quỹ
        en: 4.2.1. Withdrawal of margin
      x-hideTryItPanel: false
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalDerivativeRequestDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: ""
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description: "Chi tiết lỗi"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    example: null
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found

  /khronos/v1/cash/deposit/update:
    post:
      operationId: deposit_derivative
      tags:
        - money
      summary:
        vi: 4.2.2. Nộp ký quỹ
        en: 4.2.2. Deposit of margin
      x-hideTryItPanel: false
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositDerivativeRequestDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cmd:
                    type: string
                    example: ""
                    description:
                      vi: "Loại bút toán"
                      en: "Business type"
                  rc:
                    type: string
                    example: "1"
                    description: "1: success, < 0: error"
                  rs:
                    type: string
                    example:
                    description: "Chi tiết lỗi"
                  oID:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/DepositDerivativeResponseDTO"
                    example:
                      {
                        "transactionId": "CA330E033D3BD113E053EE02070AED89"
                      }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /tartarus/v1/derivatives:
    get:
      operationId: get_order
      tags:
        - market_information_derivative
      summary:
        vi: 6.7.1. Thông tin mã, giá
        en: 6.7.1. Symbol stock, price
      x-hideTryItPanel: false
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MarketInformationDerivativeResponseDTO"
                      example:
                        {
                          "symbol": "VN30F2412",
                          "ceilPrice": 1614.6,
                          "floorPrice": 1403.4,
                          "refPrice": 1509.0,
                          "bidPrice01": 1499.5,
                          "bidPrice02": 1499.3,
                          "bidPrice03": 1499.2,
                          "bidQtty01": 1.0,
                          "bidQtty02": 3.0,
                          "bidQtty03": 1.0,
                          "offerPrice01": 1500.5,
                          "offerPrice02": 1500.7,
                          "offerPrice03": 1500.8,
                          "offerQtty01": 1.0,
                          "offerQtty02": 1.0,
                          "offerQtty03": 1.0,
                          "matchPrice": 1500.6,
                          "matchQtty": 1.0,
                          "change": -8.4,
                          "changePercent": -0.5566600397614314,
                          "open": 1508.0,
                          "high": 1509.4,
                          "low": 1497.0,
                          "totalVol": 370.0,
                          "openVol": 897.0,
                          "buyForeignQtty": 30.0,
                          "sellForeignQtty": 58.0,
                          "expiryDate": "18/11/2021",
                          "avg": 1.50417189189189E8
                        }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /tartarus/v1/tickerCommons:
    get:
      operationId: get_order
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.1. Thông tin mã, giá
        en: 5.7.1. Symbol stock, price
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: tickers
          in: query
          description:
            vi: Danh sách mã cổ phiếu (Không dùng kết hợp với query param index)
            en: List of symbol stock (Don't use combine with query param index)
          required: false
          schema:
            type: string
            example: "FPT,MWG,VNM"
        - name: index
          in: query
          description:
            vi: |
              Rổ chứng khoán: 
              - `1`: Hose
              - `2`: VN30
              - `3`: HNX
              - `4`. HNX30
              - `5`: Upcom
              - `10`:Midcap
              - `11`:Vn100
              - `12`:Vnallshare
              - `13`:VNsmallcap
              - `14`:VNxallshare
              - `15`:Vn50
              - `16`:Vnsi
            en: |
              Stock basket: 
              - `1`: Hose
              - `2`: VN30
              - `3`: HNX
              - `4`. HNX30
              - `5`: Upcom
              - `10`:Midcap
              - `11`:Vn100
              - `12`:Vnallshare
              - `13`:VNsmallcap
              - `14`:VNxallshare
              - `15`:Vn50
              - `16`:Vnsi
          required: false
          schema:
            type: number
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MarketInformationStockNormalResponseDTO"
                      example:
                        {
                          "symbol": "FPT",
                          "ceilPrice": 106100.0,
                          "floorPrice": 92300.0,
                          "refPrice": 99200.0,
                          "bidPrice01": 98700.0,
                          "bidPrice02": 98600.0,
                          "bidPrice03": 98500.0,
                          "bidQtty01": 11300.0,
                          "bidQtty02": 56800.0,
                          "bidQtty03": 45600.0,
                          "offerPrice01": 98800.0,
                          "offerPrice02": 98900.0,
                          "offerPrice03": 99000.0,
                          "offerQtty01": 100.0,
                          "offerQtty02": 23200.0,
                          "offerQtty03": 56100.0,
                          "matchPrice": 98800.0,
                          "matchQtty": 100.0,
                          "change": -400.0,
                          "changePercent": -0.4032258064516129,
                          "open": 99200.0,
                          "avg": 98800.0,
                          "high": 99200.0,
                          "low": 98500.0,
                          "totalVol": 833900.0,
                          "totalVal": 8.240937E10,
                          "buyForeignQtty": 647300.0,
                          "sellForeignQtty": 648500.0,
                          "room": 84.0,
                          "indexNumber": 1
                        }
                  tradingDate:
                    type: string
                    example: "29/10/2024"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /ws/thesis/v1/stream/normal:
    get:
      operationId: websocket_stock_price_normal
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.2. Bảng giá cơ sở
        en: 5.7.2. Price board normal
      x-hideTryItPanel: false
      security:
        -
      description:
        vi: >
          File hướng dẫn kết nối: [Websocket_bang_gia_1.0.0.pdf](/file/Websocket_bang_gia_1.0.0.pdf)
        en: >
          File guide connection: [Websocket_stock_price_1.0.0.pdf](/file/Websocket_stock_price_1.0.0.pdf)
  /tartarus/v1/tickerSnaps:
    get:
      operationId: information_foreign_index
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.3. Thông tin room nước ngoài
        en: 5.7.3. Information foreign index
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: index
          in: query
          description:
            vi: |
              Rổ chứng khoán: 
              - `1`: Hose
              - `2`: VN30
              - `3`: HNX
              - `4`. HNX30
              - `5`: Upcom
              - `10`:Midcap
              - `11`:Vn100
              - `12`:Vnallshare
              - `13`:VNsmallcap
              - `14`:VNxallshare
              - `15`:Vn50
              - `16`:Vnsi
            en: |
              Stock basket: 
              - `1`: Hose
              - `2`: VN30
              - `3`: HNX
              - `4`. HNX30
              - `5`: Upcom
              - `10`:Midcap
              - `11`:Vn100
              - `12`:Vnallshare
              - `13`:VNsmallcap
              - `14`:VNxallshare
              - `15`:Vn50
              - `16`:Vnsi
          required: false
          schema:
            type: number
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MarketInformationForeignIndexResponseDTO"
                      example:
                        {
                          "symbol": "CRE",
                          "ceilPrice": "30850",
                          "floorPrice": "26850",
                          "refPrice": "28850",
                          "bidPrice01": "28750",
                          "bidPrice02": "28700",
                          "bidPrice03": "28650",
                          "bidQtty01": "8700",
                          "bidQtty02": "16200",
                          "bidQtty03": "17500",
                          "offerPrice01": "28800",
                          "offerPrice02": "28850",
                          "offerPrice03": "28900",
                          "offerQtty01": "2200",
                          "offerQtty02": "8600",
                          "offerQtty03": "8900",
                          "matchPrice": "28800",
                          "matchQtty": "400",
                          "change": -50.0,
                          "changePercent": -0.17331,
                          "avg": 28850.0,
                          "high": "29100",
                          "low": "28700",
                          "totalValue": "17916500000",
                          "totalVolume": "620700",
                          "buyForeignQtty": "3400",
                          "sellForeignQtty": "40500",
                          "room": "44386227",
                          "open": "28900"
                        }
                  tradingDate:
                    type: string
                    example: "07/08/2025"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /tartarus/v1/putThroughSnaps:
    get:
      operationId: information_put_through_snaps
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.4. Thông tin thỏa thuận
        en: 5.7.4. Information put through
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: floor
          in: query
          description:
            vi: |
              Rổ chứng khoán: 
              - `1`: Hose
              - `2`: HNX
              - `3`: Upcom
            en: |
              Stock basket: 
              - `1`: Hose
              - `2`: HNX
              - `3`: Upcom
          required: false
          schema:
            type: number
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  buyAdv:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PTAdvertisementResponseDTO"
                      example:
                        {
                          "symbol": "DHT",
                          "price": 24300.0,
                          "vol": 50.0,
                          "time": "20231220-02:16:13.588",
                          "status": 1,
                          "color": 3,
                          "orderId": "DHT00000000000036",
                          "side": "B"
                        }
                  sellAdv:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PTAdvertisementResponseDTO"
                      example:
                        {
                          "symbol": "TCB",
                          "price": 24300.0,
                          "vol": 50.0,
                          "time": "20231220-02:16:13.588",
                          "status": 1,
                          "color": 3,
                          "orderId": "TCB00000000000036",
                          "side": "S"
                        }
                  match:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PTMatchResponseDTO"
                      example:
                        {
                          "symbol": "TCB",
                          "price": 23455.5,
                          "vol": 5000.0,
                          "val": 1.17275E8,
                          "time": "20:00:03",
                          "accumulatedValue": 2.5444E8
                        }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /nyx/v1/intraday/{ticker}/his/paging:
    get:
      operationId: price_matching_history
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.5. Lịch sử giá khớp
        en: 5.7.5. Price matching history
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: ticker
          in: path
          description:
            vi: Mã cổ phiếu
            en: Symbol
          required: true
          schema:
            type: string
            example: "TCB"
        - name: page
          in: query
          description:
            vi: Số trang
            en: Page number
          required: false
          schema:
            type: number
            min: 0
            example: "0"
        - name: size
          in: query
          description:
            vi: Số dòng
            en: Page size
          required: false
          schema:
            type: number
            min: 1
            max: 100
            example: 20
        - name: headIndex
          in: query
          description:
            vi: Chỉ số đầu để phân trang ngược
            en: Reverse paging
          required: false
          schema:
            type: number
            example: -1
            default: -1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 0
                  size:
                    type: number
                    example: 20
                  headIndex:
                    type: number
                    example: 3974
                  numberOfItems:
                    type: number
                    example: 10
                  total:
                    type: number
                    example: 3975
                  ticker:
                    type: string
                    example: "TCB"
                    description: Mã cổ phiếu
                  d:
                    type: string
                    example: "05/08"
                    description: Ngày
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PriceMatchingHistoryResponse"
                    example:
                      [ {
                        "p": 33850.0,
                        "v": 100,
                        "cp": -650.0,
                        "rcp": 0.0,
                        "a": "",
                        "ba": 6034800.0,
                        "sa": 10320100.0,
                        "hl": false,
                        "pcp": 0.0,
                        "t": "14:45:00"
                      },
                        {
                          "p": 33850.0,
                          "v": 10000,
                          "cp": -650.0,
                          "rcp": 0.0,
                          "a": "",
                          "ba": 6034800.0,
                          "sa": 10320100.0,
                          "hl": false,
                          "pcp": 0.0,
                          "t": "14:45:00"
                        }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /nyx/v1/intraday/{ticker}/bsa-ext:
    get:
      operationId: bsa_ext
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.6. Cung cầu theo ngày (15m)
        en: 5.7.6. Daily supply and demand (15m)
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: ticker
          in: path
          description:
            vi: Mã cổ phiếu
            en: Symbol
          required: true
          schema:
            type: string
            example: "TCB"
        - name: timeWindow
          in: query
          description:
            vi: |
              Khung thời gian tính bằng phút:
              - 15
              - 60
            en: |
              Time frame in minutes:
              - 15
              - 60
          required: true
          schema:
            type: string
            example: "15"
        - name: tWindow
          in: query
          description:
            vi: |
              Khung thời gian tính bằng phút:
              - 15
            en: |
              Time frame in minutes:
              - 15
          required: true
          schema:
            type: string
            example: "15"
        - name: type
          in: query
          description:
            vi: |
              Loại nhà đầu tư:
              - sheep (Nhà đầu tư cá nhân nhỏ lẻ)
              - wolf (Nhà đầu tư tổ chức vừa)
              - shark (Nhà đầu tư lớn/tổ chức lớn)
              - all (Tất cả loại nhà đầu tư)
            en: Investor type
              - sheep (Small individual investor)
              - wolf (Medium-sized institutional investors)
              - shark (Large investor/large institution)
              - all
          required: false
          schema:
            type: string
            example: all
            default: all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    example: "TCB"
                    description: Mã cổ phiếu
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SupplyAndDemand15mResponse"
                    example:
                      [ {
                        "bu": 1000000,
                        "bms": 5000000,
                        "bup": 0.65,
                        "sd": 800000,
                        "sms": 3000000,
                        "sdp": 0.35,
                        "bsr": 1.25,
                        "t": "09:15:00",
                        "s": 1640995200000
                      }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /nyx/v1/intraday/{ticker}/bsa:
    get:
      operationId: bsa
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.7. Cung cầu theo ngày
        en: 5.7.7. Daily supply and demand
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: ticker
          in: path
          description:
            vi: Mã cổ phiếu
            en: Symbol
          required: true
          schema:
            type: string
            example: "TCB"
        - name: type
          in: query
          description:
            vi: |
              Loại nhà đầu tư:
              - sheep (Nhà đầu tư cá nhân nhỏ lẻ)
              - wolf (Nhà đầu tư tổ chức vừa)
              - shark (Nhà đầu tư lớn/tổ chức lớn)
              - all (Tất cả loại nhà đầu tư)
            en: Investor type
              - sheep (Small individual investor)
              - wolf (Medium-sized institutional investors)
              - shark (Large investor/large institution)
              - all
          required: false
          schema:
            type: string
            example: all
            default: all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    example: "TCB"
                    description: Mã cổ phiếu
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SupplyAndDemandResponse"
                    example:
                      [ {
                        "bup": 0.65,
                        "sdp": 0.35,
                        "bsr": 1.25,
                        "t": "09:15"
                      }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /nyx/v1/intraday/{ticker}/bsa-month:
    get:
      operationId: bsa_month
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.8. Cung cầu theo tháng
        en: 5.7.8. Month supply and demand
      x-hideTryItPanel: false
      description: ''
      parameters:
        - name: ticker
          in: path
          description:
            vi: Mã cổ phiếu
            en: Symbol
          required: true
          schema:
            type: string
            example: "TCB"
        - name: timeWindow
          in: query
          description:
            vi: |
              Khung thời gian:
              - 1M
            en: |
              Time frame:
              - 1M
        - name: type
          in: query
          description:
            vi: |
              Loại nhà đầu tư:
              - sheep (Nhà đầu tư cá nhân nhỏ lẻ)
              - wolf (Nhà đầu tư tổ chức vừa)
              - shark (Nhà đầu tư lớn/tổ chức lớn)
              - all (Tất cả loại nhà đầu tư)
            en: Investor type
              - sheep (Small individual investor)
              - wolf (Medium-sized institutional investors)
              - shark (Large investor/large institution)
              - all
          required: false
          schema:
            type: string
            example: all
            default: all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    example: "TCB"
                    description: Mã cổ phiếu
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SupplyAndDemandResponse"
                    example:
                      [ {
                        "bup": 0.65,
                        "sdp": 0.35,
                        "bsr": 1.25,
                        "t": "07/05"
                      }
                      ]

        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /ws/ouranos/v1/stream:
    get:
      operationId: get_wscenter
      tags:
        - market_information_stock_normal
      summary:
        vi: 5.7.9. Lấy thông tin lịch sử giá khớp, cung cầu (realtime)
        en: 5.7.9. Get historical price matching information, supply and demand (realime)
      x-hideTryItPanel: false
      security:
        -
      description:
        vi: >
          File hướng dẫn kết nối: [Websocket_lich-su-gia_cung-cau_1.0.0.pdf](/file/Websocket_lich-su-gia_cung-cau_1.0.0.pdf)
        en: >
          File guide connection: [Websocket_historical-pricematching-information_supply-and-demand_1.0.0.pdf](/file/Websocket_historical-pricematching-information_supply-and-demand_1.0.0.pdf)
  /ws/thesis/v1/stream/derivative:
    get:
      operationId: websocket_stock_price_derivative
      tags:
        - market_information_derivative
      summary:
        vi: 6.7.2. Bảng giá phái sinh
        en: 6.7.2. Price board derivaive
      x-hideTryItPanel: false
      security:
        -
      description:
        vi: >
          File hướng dẫn kết nối: [Websocket_bang_gia_1.0.0.pdf](/file/Websocket_bang_gia_1.0.0.pdf)
        en: >
          File guide connection: [Websocket_stock_price_1.0.0.pdf](/file/Websocket_stock_price_1.0.0.pdf)
components:
  schemas:
    TokenRequestDto:
      type: object
      required:
        - otp
        - apiKey
      properties:
        otp:
          type: string
          example: "111111"
          description:
            vi: "Mã OTP"
            en: "OTP code"
        apiKey:
          type: string
          example: "310ebe1b-07a7-463a-860d-773dcaa31591"
          description:
            vi: "API Key được gen trên tcinvest"
            en: "API Key generated on tcinvest"
      title: TokenRequestDto
    TokenResponseDto:
      type: object
      properties:
        token:
          type: string
          example: "eyJ4NXQiOiJaaWpkaFpqVmlNamMwWmdfUlMyNTYiLCJhbGciOiJSUzI1NiJ9"
          description:
            vi: "Token sau khi trao đồi từ API Key"
            en: "Token after exchanging from API Key"
      title: TokenResponseDto
    TokenResponseErrorDto:
      type: object
      properties:
        code:
          type: string
          example: "203074"
          description:
            vi: "Mã lỗi"
            en: "Error code"
        message:
          type: string
          example: "The API Key is invalid"
          description:
            vi: "Nội dung lỗi"
            en: "Error message"
      title: TokenResponseErrorDto
    PlaceOrderExternalDto:
      type: object
      required:
        - execType
        - price
        - priceType
        - quantity
        - symbol
      properties:
        execType:
          type: string
          pattern: "^(NS|NB)$"
          example: "NS"
          description:
            vi: "Chiều giao dịch"
            en: "Trading direction"
          enum:
            - NS
            - NB
        price:
          type: integer
          format: int64
          example: 10000
          description:
            vi: "Giá giao dịch"
            en: "Trading price"
        priceType:
          type: string
          example: "LO"
          description:
            vi: "Loại giá giao dịch"
            en: "Trading price type"
          enum:
            - LO
            - ATO
            - ATC
            - PLO
            - MP
            - MTL
            - MOK
            - MAK
        quantity:
          type: integer
          format: int64
          example: 100
          description:
            vi: "Khối lượng giao dịch"
            en: "Trading quantity"
        symbol:
          type: string
          example: "VNM"
          description:
            vi: "Mã chứng khoán"
            en: "Stock symbol"
      title: PlaceOrderExternalDto
    PlaceOrderResponse:
      type: object
      properties:
        error:
          type: string
          example: "0"
          description:
            vi: "Mã lỗi"
            en: "Error code"
        message:
          type: string
          example: "Đặt lệnh thành công!"
          description:
            vi: "Message lỗi"
            en: "Error message"
        orderId:
          type: string
          example: "9202205230000324355"
          description:
            vi: "Số hiệu lệnh phản hồi về"
            en: "Order ID"
      title: PlaceOrderResponse
    UpdateOrderRequestDto:
      type: object
      required:
        - price
        - quantity
      properties:
        price:
          type: integer
          format: int64
          example: 10000
          description:
            vi: "Giá giao dịch"
            en: "Trading price"
        quantity:
          type: integer
          format: int64
          example: 100
          description:
            vi: "Khối lượng giao dịch"
            en: "Trading quantity"
      title: UpdateOrderRequestDto
    UpdateOrderResponse:
      type: object
      properties:
        error:
          type: string
          example: "0"
          description:
            vi: "Mã lỗi"
            en: "Error code"
        message:
          type: string
          example: "Đặt lệnh thành công!"
          description:
            vi: "Message lỗi"
            en: "Error message"
        orderId:
          type: string
          example: "9202205230000324355"
          description:
            vi: "Số hiệu lệnh phản hồi về"
            en: "Order ID"
      title: UpdateOrderResponse
    CancelOrderRequestDto:
      type: object
      required:
        - ordersList
      properties:
        ordersList:
          type: array
          items:
            "$ref": "#/components/schemas/OrderIDResponse"
          example: [{'orderID': '9202205230000324355'}]
      title: CancelOrderRequestDto
    CancelOrderResponse:
      type: object
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DataX"
        object:
          type: string
          example: "deleteOrderList"
        pageIndex:
          type: integer
          format: int32
          example: 1
        pageSize:
          type: integer
          format: int32
          example: 20
        totalCount:
          type: integer
          format: int32
          example: 20
      title: CancelOrderResponse
    Detail:
      type: object
      properties:
        deleted:
          type: string
          enum:
            - Y
            - N
        errorCode:
          type: string
          example: "0"
        errorMesage:
          type: string
          example: "Giao dịch thực hiện thành công"
        orderID:
          type: string
          example: "9202205230000324355"
      title: Detail
    DataX:
      type: object
      properties:
        details:
          type: array
          items:
            "$ref": "#/components/schemas/Detail"
        object:
          type: string
      title: DataX
    OrderIDResponse:
      type: object
      properties:
        orderID:
          type: string
      title: OrderID
    OrderSearchResponse:
      type: object
      properties:
        object:
          type: string
          example: "List"
          description:
            vi: "Mặc định = 'List'"
            en: "Default = 'List'"
        pageSize:
          type: integer
          format: int64
          description:
            vi: "Kích thước trang"
            en: "Page size"
          example: "10"
        pageIndex:
          type: integer
          format: int64
          description:
            vi: "Index trang"
            en: "Page index"
          example: "1"
        totalCount:
          type: integer
          format: int64
          description:
            vi: "Tổng số bản ghi thỏa mãn điều kiện filter"
            en: "Total number of records that meet the filter condition"
          example: 1
        data:
          type: array
          items:
            "$ref": "#/components/schemas/OrderInfo"
    OrderInfo:
      type: object
      properties:
        object:
          type: string
          example: "order"
          description: ""
        accountNo:
          type: string
          example: "0001008918"
          description:
            vi: "Số tiểu khoản"
            en: "Account number"
        orderID:
          type: string
          example: "9202110200000060280"
          description:
            vi: "Số hiệu lệnh"
            en: "Order ID"
        execType:
          type: string
          example: "NB"
          description:
            vi: "Loại lệnh"
            en: "Order type"
        orderQtty:
          type: number
          format: double
          example: "2500.0"
          description:
            vi: "Khối lượng đặt"
            en: "Order quantity"
        execQtty:
          type: number
          format: double
          example: "0.0"
          description:
            vi: "Khối lượng khớp"
            en: "Matched quantity"
        codeID:
          type: string
          example:
          description: ""
        symbol:
          type: string
          example: "HPG"
          description:
            vi: "Mã chứng khoán"
            en: "Stock symbol"
        priceType:
          type: string
          example: "LO"
          description:
            vi: "Loại giá"
            en: "Price type"
        txtime:
          type: string
          example: "14:15:34"
          description:
            vi: "Giờ đặt lệnh"
            en: "Order time"
        txdate:
          type: string
          example: "2021-08-19T00:00:00.000+07:00"
          description:
            vi: "Ngày đặt lệnh. định dạng RFC 3339 "
            en: "Order date. RFC 3339 format"
        expDate:
          type: string
          example: "2021-08-19T00:00:00.000+07:00"
          description:
            vi: "Ngày hết hạn. định dạng RFC 3339 "
            en: "Expiration date. RFC 3339 format"
        timeType:
          type: string
          example: "T"
          description:
            vi: |
              Loại thời gian hiệu lực:
              - `T`: Trong ngày
              - `G`: Nhiều ngày
            en: |
              Type of effective time:
              - `T`: Intraday
              - `G`: Multiple days
          enum:
            - "T"
            - "G"
        orStatus:
          type: string
          example: "11"
          description:
            vi: |
              Trạng thái lệnh hiển thị:
              - `0`: Từ chối
              - `2`: Đã gửi
              - `3`: Đã hủy
              - `4`: Đã khớp
              - `5`: Hết hiệu lực
              - `8`: Chờ gửi
              - `10`: Đã sửa
              - `11`: Đang gửi
              - `12`: Khớp hết
              - `A`: Đang sửa
              - `C`: Đang hủy
              - `S`: Hoàn tất
            en: |
              Display order status:
              - `0`: Rejected
              - `2`: Sent
              - `3`: Canceled
              - `4`: Matched
              - `5`: Expired
              - `8`: Waiting to send
              - `10`: Modified
              - `11`: Sending
              - `12`: Matched all
              - `A`: Modifying
              - `C`: Canceling
              - `S`: Completed
          enum:
            - "0"
            - "2"
            - "3"
            - "4"
            - "5"
            - "8"
            - "10"
            - "11"
            - "12"
            - "A"
            - "C"
            - "S"
        feeAcr:
          type: number
          example: "0.0"
          description:
            vi: "Phí"
            en: "Fee"
        limitPrice:
          type: number
          example: "25000.0"
          description:
            vi: "Giá đặt lệnh"
            en: "Order price"
        cancelQtty:
          type: number
          format: double
          example: "0.0"
          description:
            vi: "Khối lượng hủy"
            en: "Cancel quantity"
        remainQtty:
          type: number
          format: double
          example: "2500.0"
          description: ""
        via:
          type: string
          example: "O"
          description:
            vi: |
              "Kênh giao dịch"
              - `T`: "Call margin"
              - `M`: "Tổng đài"
              - `O`: 'Online'
            en: |
              "Trading channel"
              - `T`: "Call margin"
              - `M`: "Call center"
              - `O`: 'Online'
          enum:
            - "T"
            - "M"
            - "O"
        quotePrice:
          type: number
          example: "25000.0"
          description:
            vi: "Giá đặt lệnh"
            en: "Order price"
        matchPrice:
          type: number
          example: "0.0"
          description:
            vi: "Giá khớp trung bình của lệnh, làm tròn đến 2 số sau dấu phẩy"
            en: "Average match price of the order, rounded to 2 decimal places"
        tradePlace:
          type: string
          example: "005"
          description:
            vi: |
              "Board đặt lệnh"
              - `005`: "UPCOM"
              - `002`: "HNX"
              - `001`: "HOSE"
              - `000`: "BOND"
            en: |
              "Order board"
              - `005`: "UPCOM"
              - `002`: "HNX"
              - `001`: "HOSE"
              - `000`: "BOND"
          enum:
            - "005"
            - "002"
            - "001"
            - "000"
        matchType:
          type: string
          example: "P"
          description:
            vi: |
              Loại khớp
              - `P`: "Thỏa thuận"
              - `N`: "Bình thường"
            en: |
              Match type
              - `P`: "Agreement"
              - `N`: "Normal"
          enum:
            - "P"
            - "N"
        isDisposal:
          type: string
          example: "Y"
          description:
            vi: "là lệnh bán xử lý?"
            en: "is disposal order?"
          enum:
            - "Y"
            - "N"
        isCancel:
          type: string
          example: "Y"
          description:
            vi: |
              Cho phép hủy?
              - `Y`: "Có"
              - `N`: "Không"
            en: |
              Allow cancel?
              - `Y`: "Yes"
              - `N`: "No"
          enum:
            - "Y"
            - "N"
        isAmend:
          type: string
          example: "Y"
          enum:
            - "Y"
            - "N"
          description:
            vi: |
              Cho phép sửa?
              - `Y`: "Có"
              - `N`: "Không"
            en: |
              Allow amend?
              - `Y`: "Yes"
              - `N`: "No"
        userName:
          type: string
          example: "6868"
          enum:
            - "6868"
            - "8686"
          description:
            vi: |
              userID đặt lệnh
              - `6868`: "Online"
              - `8686`: "Lệnh điều kiện, icopy"
            en: |
              userID order
              - `6868`: "Online"
              - `8686`: "Conditional order, icopy"
        orsOrderID:
          type: string
          example: '9202110200000060280'
          description:
            vi: "Số hiệu lệnh"
            en: "Order ID"
        sectype:
          type: string
          enum:
            - "001"
            - "002"
            - "003"
            - "005"
            - "006"
            - "007"
            - "008"
            - "009"
            - "011"
          example: "001"
          description:
            vi: |
              - `001`: "Cổ phiếu thường"
              - `002`: "Cổ phiếu ưu đãi"
              - `003`: "Trái phiếu chuyển đổi"
              - `005`: "Tương lai"
              - `006`: "Trái phiếu"
              - `007`: "Chứng chỉ ủy thác"
              - `008`: "Chứng chỉ quỹ"
              - `009`: "Giấy chứng nhận TG"
              - `011`: "Chứng quyền"
            en: |
              - `001`: "Common stock"
              - `002`: "Preferred stock"
              - `003`: "Convertible bond"
              - `005`: "Future"
              - `006`: "Bond"
              - `007`: "Trust certificate"
              - `008`: "Fund certificate"
              - `009`: "Time certificate"
              - `011`: "Warrant"
        isFOOrder:
          type: string
[...]
